body {
    font-family: 'Poppins', sans-serif;
    margin: 5rem;
}

.signup-button {
    width: 50vw;
    height:7.5vh;
    font-size: 20pt;
    background-color: #71A8F8;
    border: #71A8F8;
    font-weight: 500;
}
.button-link {
    text-decoration: none;
    color: inherit;
}

.small-button {
    background-color: white;
    padding:.5rem;
    border-radius: 5px;
}
.twobuttcircles {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 40vw;
    max-height: 100vh;
    z-index: -1;
}
h1 {
    font-size: 50pt;
    z-index: 10;
    width: fit-content;
    padding:1rem;
    border-radius: 10%;

}
h5 {
    z-index: 10;
}
input {
    width: 30vw !important;
}

button.submit {
    background-color: #71A8F8 !important;
    border-color: #71A8F8;
}

.person-image {
    position:absolute;
    height: 50vh;
    top: 15vh;
    right: 20vw;
}

.login-image {
    position:absolute;
    height: 50vh;
    top: 30vh;
    right: 15vw;
}

.bottom-right-butt {
    position:absolute;
    max-width:30vw;
    bottom: 0;
    right:0;
}