{% extends "layout.html" %}

{% block main %}
<div class="container mt-5">
    <h6>Haven't uploaded a calendar yet? Go to your <a href="/profile">profile</a> to get started! </h6>
    <h3>Make a new event!</h3>
    <form method="POST" action="/">
        <div class="mb-3">
            <label for="participant1" class="form-label">Invite up to 3 friends: </label>
            <input type="email" class="form-control" id="participant1" name="participant1" required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="participant2" name="participant2">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="participant3" name="participant3">
          </div>
        <div class="mb-3">
            <label for="dateInput" class="form-label">Select a Date</label>
            <input type="date" class="form-control" id="dateInput" value="2024-10-21" name="selectedDate">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<h3>Times you are all available! </h3>
<table class="table table-striped">
    <tr>
        <th scope="col">Start Time</th>
    </tr>
    {% for time in available_times %}
    <tr>
        <td>{{time.end12}}-{{time.start12}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}