{% extends "layout.html" %}
{% block title %}Login - GetToGather{% endblock %}

{% block main %}


<form action="/login_user" method="POST">
    <img src="/static/images/undraw_authentication_re_svpt.svg" class="login-image">
    <h3>Welcome back!</h3>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input autocomplete="off" type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input autocomplete="off" type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  Don't have an account yet? <a href="/signup">Sign up!</a>
  </body>
{% endblock %}