{% extends "layout.html" %}

{% block title %}Signup- GetToGather{% endblock %}
{% block main %}
    <img src="/static/images/undraw_events_re_98ue.svg" class="login-image">
    <form action="/add_user" method="POST">
      <h3>Welcome aboard!</h3>
      <h6>Lets get you signed up.</h6>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary ">Submit</button>
      </form>
      Already have an account? <a href="/login">Login.</a>
      </body>
{% endblock %}